@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /*--foreground-rgb: 12, 0, 30;*/
  /*--background-start-rgb: 14, 2, 20;*/
  /*--background-end-rgb: 12, 0, 32;*/
}


body, main, section {
  width: 100%; /* Full width of viewport */
  max-width: 100%; /* Ensure it does not exceed viewport width */
  overflow-x: hidden; /* Prevent horizontal overflow */
  color: rgb(var(--foreground-rgb));
  font-family: 'Inter', sans-serif;
  @apply text-media_black
}

section {
  @apply flex flex-col lg:w-full lg:max-w-4xl items-center justify-center;
}


h1,h2,h3,h4,h5,h6 {
  font-family: 'Bricolage Grotesque', sans-serif;
  @apply font-bricolage font-bold;
}

h1 {
  @apply text-3xl md:text-5xl lg:text-5xl xl:text-7xl
}

.cta-btn {
    box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, .25);
}

.btn{
  @apply transition ease-out duration-300 cursor-pointer hover:scale-105
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.imageContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.7rem;
}

.image {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.image:nth-child(5) {
    transform: scale(1.5); /* Center image */
    opacity: 1;
}

.image:nth-child(4), .image:nth-child(6) {
    transform: scale(1.2); /* Adjacent to center */
    opacity: 0.8;
}

.image:nth-child(3), .image:nth-child(7) {
    transform: scale(1); /* Further out */
    opacity: 0.6;
}

.image:nth-child(2), .image:nth-child(8) {
    transform: scale(0.8); /* Even further out */
    opacity: 0.4;
}

.image:nth-child(1), .image:nth-child(9) {
    transform: scale(0.6); /* Outermost */
    opacity: 0.2;
}

